*{
    background-color: #f5edda;
    text-decoration: none;
    color: black;
}

body{
    background-color: #F5EDDA;
    font-family: Josefin Sans;
}

nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3rem;
}

nav img{
    grid-column: 3;
    justify-self: center;
    align-self: center;
    width: 8rem;
    cursor: pointer;
}

#menu-nav{
    grid-column: 1;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

#bestil-nav{
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

#meet-nav{
    grid-column: 4;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

#kontakt-nav{
    grid-column: 5;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

.bestil{
    font-family: Just Another Hand;
    color: #C25851;
    font-weight: 200;
   font-size: 200px;
   position: absolute;
   top: 10%;
   text-align: center;
   left: 41%;
}

.bestil-underskrift{
    font-family: Josefin Sans;
    font-weight: 200;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 25%;
}

.wolt{
    width: 200px;
    position: absolute;
    top: 70%;
    left: 30%;
}

.afhentning{
    width: 250px;
    position: absolute;
    top: 70%;
    left: 55%;
}

.wolt-billede{
    width: 300px;
    position: absolute;
    top: 30%;
    right: 80%;
}

.afhentning-billede{
    width: 250px;
    position: absolute;
    left: 80%;
    top: 20%;
}