/* Generel styling for alt indhold p책 siden */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generel styling for body */
body{
    background-color: #F5EDDA;
    font-family: Josefin Sans;
}

/* Keyframes s책 teksten fader ind n책r man loader siden */
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
}

/* Generel styling for alle <a> elementerne p책 siden */
a{
    text-decoration: none;
    color: inherit;
}

/* Navbar */
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 3rem;
}

nav img{
    grid-column: 3;
    justify-self: center;
    align-self: center;
    width: 8rem;
    cursor: pointer;
}

#menu-nav{
    grid-column: 1;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

#bestil-nav{
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

#meet-nav{
    grid-column: 4;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

#kontakt-nav{
    grid-column: 5;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

/* Dropdown */
.dropdown{
    align-self: center;
    justify-self: center;
}

#meet-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    text-align: center;
    width: 13rem;
    height: 8rem;
    font-size: 1.5rem;
}

#kontakt-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 5.5rem;
    height: 4rem;
    justify-content: center;
    font-size: 1.5rem;
}

/* Main styling */
main{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 5rem;
}

.spoergsmaal{
    display: flex;
    gap: 7rem;
}

h1{
    font-family: Just Another Hand;
    text-align: center;
    font-size: 8rem;
    margin-top: 2rem;
    color: #C25851;
    font-weight: bold;
    animation: fade-up 1s;
}

/* FAQ  */
li{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
    cursor: pointer;
    animation: fade-up 1s;
}

ul img{
    width: .7rem;
    margin-right: .5rem;
    cursor: pointer;
    animation: fade-up 1s;
}

.hidden{
    display: none;
}

.faq-answer{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 330;
}

/* Infographic */
#infographic{
    width: 75%;
    padding-right: 4rem;
}

.end{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

#end-1{
    font-size: 1.5rem;
    font-weight: 350;
    animation: fade-up 1s;
}

#end-2{
    font-size: 1.5rem;
    font-weight: 350;
    color: #C25851;
    animation: fade-up 1s;
}


/* Footer */
.footer{
    position: absolute;
    top: 190%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, 1fr);
    background-color: #C25851;
    width: 100%;
    font-family: Josefin Sans;
    height: 17rem;
}

.footer,
.social{
    text-align: center;
    color: #F5EDDA;
}

.social {
    display: flex;
    background-color: inherit;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: fit-content;
    grid-row: 2;
}

.social a{
    font-size: 33px;
    color: #F5EDDA;
    background-color: #C25851;
    border: 3px solid #F5EDDA;
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 1;
    transition: 0.25s;
}

.social a:hover{
    opacity: 1;
    color: black;
    transition: 0.5s;
}

.footer h1{
    font-size: 70px;
    padding-bottom: 20px;
    transition: 0.5s;
    font-family: Josefin Sans;
    font-weight: 400;
    font-style: normal;
}

.footer h1:hover{
    opacity: 1;
}

.footer ul{
    list-style: none;
    font-size: 38px;
    margin-bottom: 0;
    background-color: inherit;
    align-self: center;
    z-index: 999;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
    background-color: inherit;
}

.footer ul li a{
    color: #F5EDDA;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
    background-color: inherit;
}

.footer ul li a:hover{
    opacity: 1;
    color: black;
    transition: 0.5s;
}

.footer, .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    padding: 0;
}

.copyright{
  color: #F5EDDA;
  background-color: inherit;
}

@media only screen and (max-width: 800px) {
    nav{
        display: none;
    }
    .spoergsmaal{
        flex-direction: column;
        gap: 0;
    }
    #infographic{
        width: 100%;
        padding: 0;
    }

    .footer{
        top: 170%;
        height: 30rem;
    }

    .footer ul{
        display: flex;
        flex-direction: column;
        grid-row: 1;
        padding: 0;
        }
    
    .footer ul li{
        font-size: 1.5rem;
    }
}

@media (min-width: 801) and (max-width: 1024px) {
    h1{
        margin-top: 4rem;
    }

    .spoergsmaal{
        gap: 0;
    }

    .footer{
        top: 105%;
        height: 15rem;
    }

    .footer ul{
        display: flex;
        grid-row: 1;
        padding: 0;
        justify-self: center;
        }
    
    .footer ul li{
        font-size: 1.5rem;
    }

    .social{
        align-self: center;
    }

    .copyright{
        align-self: center;
    }

    .end{
        gap: 1rem;
    }
}