/* Generel styling for hele siden */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Generel styling for body */
body{
    background-color: #c25851;
    font-family: Josefin Sans;
}

/* Keyframes animation så siden fader ind */
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
}

/* Generel styling for alle <a> elementerne på siden */
a{
    text-decoration: none;
    color: inherit;
}

/* Main */
.tequila{
    font-family: Just Another Hand;
    color: #F5EDDA;
    font-weight: 200;
   font-size: 150px;
   position: absolute;
   text-align: center;
   top: 5%;
   left: 40%;
   animation: fade-up 1s;
}

.kah{
    color: #F5EDDA;
    position: absolute;
    top: 30%;
    left: 5%;
    animation: fade-up 1s;
}

.kah-billede{
    width: 200px;
    position: absolute;
    top: 35%;
    left: 8%;
    animation: fade-up 1s;
}

.kah-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 20px;
    position: absolute;
    top: 70%;
    text-align: center;
    left: 4%;
    animation: fade-up 1s;
}

.cenote{
    color: #F5EDDA;
    position: absolute;
    top: 30%;
    left: 40%;
    animation: fade-up 1s;
}

.cenote-billede{
    width: 200px;
    position: absolute;
    top: 35%;
    left: 41%;
    animation: fade-up 1s;
}

.cenote-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 20px;
    position: absolute;
    top: 70%;
    text-align: center;
    left: 39%;
    animation: fade-up 1s;
}

.donjulio{
    color: #F5EDDA;
    position: absolute;
    top: 30%;
    left: 75%;
    animation: fade-up 1s;
}

.donjulio-billede{
    width: 150px;
    position: absolute;
    top: 38%;
    left: 79%;
    animation: fade-up 1s;
}

.donjulio-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 20px;
    position: absolute;
    top: 70%;
    text-align: center;
    left: 70%;
    animation: fade-up 1s;
}

#tilbage-knap{
    width: 200px;
    position: absolute;
    top: 90%;
    left: 42%;
    animation: fade-up 1s;
}

@media only screen and (min-width: 390px) and (max-width: 844px){
    /* Generel styling for body */
body{
    background-color: #c25851;
    font-family: Josefin Sans;
}

/* Keyframes animation så siden fader ind */
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
}

/* Generel styling for alle <a> elementerne på siden */
a{
    text-decoration: none;
    color: inherit;
}

/* Main */
.tequila{
    font-family: Just Another Hand;
    color: #F5EDDA;
    font-weight: 200;
   font-size: 100px;
   position: absolute;
   text-align: center;
   top: 5%;
   left: 35%;
   animation: fade-up 1s;
}

.kah{
    color: #F5EDDA;
    position: absolute;
    top: 40%;
    left: 5%;
    animation: fade-up 1s;
    font-size: 10px;
}

.kah-billede{
    width: 100px;
    position: absolute;
    top: 47%;
    left: 8%;
    animation: fade-up 1s;
}

.kah-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 7px;
    position: absolute;
    top: 82%;
    text-align: center;
    left: 5%;
    animation: fade-up 1s;
}

.cenote{
    color: #F5EDDA;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: fade-up 1s;
    font-size: 10px;
}

.cenote-billede{
    width: 100px;
    position: absolute;
    top: 45%;
    left: 41%;
    animation: fade-up 1s;
}

.cenote-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 7px;
    position: absolute;
    top: 82%;
    text-align: center;
    left: 41%;
    animation: fade-up 1s;
}

.donjulio{
    color: #F5EDDA;
    position: absolute;
    top: 40%;
    left: 71%;
    animation: fade-up 1s;
    font-size: 10px;
    text-align: center;
}

.donjulio-billede{
    width: 80px;
    position: absolute;
    top: 47%;
    left: 73%;
    animation: fade-up 1s;
}

.donjulio-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 7px;
    position: absolute;
    top: 82%;
    text-align: center;
    left: 66%;
    animation: fade-up 1s;
}

#tilbage-knap{
    width: 100px;
    position: absolute;
    top: 100%;
    left: 42%;
    animation: fade-up 1s;
}

}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
    /* Generel styling for body */
body{
    background-color: #c25851;
    font-family: Josefin Sans;
}

/* Keyframes animation så siden fader ind */
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
}

/* Generel styling for alle <a> elementerne på siden */
a{
    text-decoration: none;
    color: inherit;
}

/* Main */
.tequila{
    font-family: Just Another Hand;
    color: #F5EDDA;
    font-weight: 200;
   font-size: 100px;
   position: absolute;
   text-align: center;
   top: 5%;
   left: 44%;
   animation: fade-up 1s;
}

.kah{
    color: #F5EDDA;
    position: absolute;
    top: 40%;
    left: 5%;
    animation: fade-up 1s;
    font-size: 20px;
}

.kah-billede{
    width: 150px;
    position: absolute;
    top: 48%;
    left: 10%;
    animation: fade-up 1s;
}

.kah-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 15px;
    position: absolute;
    top: 100%;
    text-align: center;
    left: 4%;
    animation: fade-up 1s;
}

.cenote{
    color: #F5EDDA;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: fade-up 1s;
    font-size: 20px;
}

.cenote-billede{
    width: 150px;
    position: absolute;
    top: 48%;
    left: 43%;
    animation: fade-up 1s;
}

.cenote-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 15px;
    position: absolute;
    top: 105%;
    text-align: center;
    left: 40%;
    animation: fade-up 1s;
}

.donjulio{
    color: #F5EDDA;
    position: absolute;
    top: 40%;
    left: 71%;
    animation: fade-up 1s;
    font-size: 20px;
}

.donjulio-billede{
    width: 115px;
    position: absolute;
    top: 50%;
    left: 76%;
    animation: fade-up 1s;
}

.donjulio-undertekst{
    color: #F5EDDA;
    font-weight: 200;
    font-size: 15px;
    position: absolute;
    top: 103%;
    text-align: center;
    left: 68%;
    animation: fade-up 1s;

}

#tilbage-knap{
    width: 150px;
    position: absolute;
    top: 150%;
    left: 44%;
    animation: fade-up 1s;
}

}